body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:23px;
  width:204px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:110px;
  width:1270px;
  height:560px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:560px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1130px;
  top:32px;
  width:140px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:130px;
  width:34px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:104px;
  top:132px;
  width:49px;
  height:28px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:104px;
  top:198px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:271px;
  top:110px;
  width:10px;
  height:560px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:543px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:560px;
}
#u15 {
  position:absolute;
  left:30px;
  top:233px;
  width:247px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:230px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u16 {
  position:absolute;
  left:34px;
  top:520px;
  width:247px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:230px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u17 {
  position:absolute;
  left:31px;
  top:185px;
  width:246px;
  height:55px;
  font-size:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:55px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:302px;
  top:282px;
  width:948px;
  height:50px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:45px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:317px;
  top:294px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1104px;
  top:294px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:317px;
  top:345px;
  width:337px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:668px;
  top:294px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:668px;
  top:345px;
  width:149px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1057px;
  top:345px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:724px;
  top:623px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:764px;
  top:627px;
  width:47px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:317px;
  top:389px;
  width:337px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:668px;
  top:389px;
  width:149px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1057px;
  top:389px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:317px;
  top:434px;
  width:337px;
  height:19px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:668px;
  top:434px;
  width:149px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1057px;
  top:434px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:317px;
  top:479px;
  width:337px;
  height:19px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:668px;
  top:479px;
  width:149px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1057px;
  top:479px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1142px;
  top:345px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1142px;
  top:389px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1142px;
  top:434px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1142px;
  top:478px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:880px;
  top:294px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:873px;
  top:345px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:873px;
  top:389px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:873px;
  top:434px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:873px;
  top:479px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:668px;
  top:124px;
  width:298px;
  height:33px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:1104px;
  top:345px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1104px;
  top:389px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1104px;
  top:434px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:1104px;
  top:479px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:303px;
  top:172px;
  width:1002px;
  height:449px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:42px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:42px;
}
#u85 {
  position:absolute;
  left:2px;
  top:13px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:42px;
  width:997px;
  height:402px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:402px;
}
#u87 {
  position:absolute;
  left:2px;
  top:193px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:346px;
  top:186px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1202px;
  top:186px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:346px;
  top:237px;
  width:77px;
  height:16px;
  text-decoration:underline;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:819px;
  top:241px;
  width:127px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1198px;
  top:241px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:313px;
  top:346px;
  width:120px;
  height:16px;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  visibility:hidden;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:976px;
  top:124px;
  width:34px;
  height:33px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:980px;
  top:128px;
  width:25px;
  height:25px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:724px;
  top:623px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:525px;
  top:186px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:525px;
  top:241px;
  width:73px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1164px;
  top:124px;
  width:106px;
  height:33px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:643px;
  top:186px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:643px;
  top:241px;
  width:28px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:827px;
  top:186px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:31px;
  top:246px;
  width:246px;
  height:55px;
  font-size:24px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:55px;
}
#u119 {
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:987px;
  top:241px;
  width:127px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:987px;
  top:186px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1159px;
  top:241px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:714px;
  top:186px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:734px;
  top:241px;
  width:19px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:346px;
  top:271px;
  width:78px;
  height:16px;
  text-decoration:underline;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:819px;
  top:270px;
  width:127px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1198px;
  top:270px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:525px;
  top:270px;
  width:98px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:643px;
  top:270px;
  width:19px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:987px;
  top:270px;
  width:127px;
  height:22px;
  font-size:16px;
  color:#CCCCCC;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1159px;
  top:270px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:734px;
  top:270px;
  width:19px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:277px;
  top:84px;
  width:60px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:277px;
  top:86px;
  width:60px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:361px;
  top:86px;
  width:60px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:337px;
  top:86px;
  width:16px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u153 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1087px;
  top:24px;
  width:28px;
  height:28px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u155 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1232px;
  top:241px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1232px;
  top:270px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:358px;
  top:712px;
  width:733px;
  height:496px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:122px;
  top:0px;
  width:156px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:278px;
  top:0px;
  width:153px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:431px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:608px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:94px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:94px;
}
#u172 {
  position:absolute;
  left:2px;
  top:39px;
  width:118px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:122px;
  top:30px;
  width:156px;
  height:94px;
  font-size:12px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:94px;
}
#u174 {
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:278px;
  top:30px;
  width:153px;
  height:94px;
  color:#000000;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:94px;
}
#u176 {
  position:absolute;
  left:2px;
  top:39px;
  width:149px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:431px;
  top:30px;
  width:177px;
  height:94px;
  color:#000000;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:94px;
}
#u178 {
  position:absolute;
  left:2px;
  top:39px;
  width:173px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:608px;
  top:30px;
  width:121px;
  height:94px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:94px;
}
#u180 {
  position:absolute;
  left:2px;
  top:39px;
  width:117px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:124px;
  width:122px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u182 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:122px;
  top:124px;
  width:156px;
  height:30px;
  font-size:12px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:278px;
  top:124px;
  width:153px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:431px;
  top:124px;
  width:177px;
  height:30px;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:608px;
  top:124px;
  width:121px;
  height:30px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:0px;
  top:154px;
  width:122px;
  height:69px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
}
#u192 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:122px;
  top:154px;
  width:156px;
  height:69px;
  font-size:12px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:69px;
}
#u194 {
  position:absolute;
  left:2px;
  top:27px;
  width:152px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:278px;
  top:154px;
  width:153px;
  height:69px;
  color:#000000;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:69px;
}
#u196 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:431px;
  top:154px;
  width:177px;
  height:69px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:69px;
}
#u198 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:608px;
  top:154px;
  width:121px;
  height:69px;
  text-align:center;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u200 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:0px;
  top:223px;
  width:122px;
  height:64px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:64px;
}
#u202 {
  position:absolute;
  left:2px;
  top:24px;
  width:118px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:122px;
  top:223px;
  width:156px;
  height:64px;
  font-size:12px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:64px;
}
#u204 {
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:278px;
  top:223px;
  width:153px;
  height:64px;
  color:#000000;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:64px;
}
#u206 {
  position:absolute;
  left:2px;
  top:24px;
  width:149px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:431px;
  top:223px;
  width:177px;
  height:64px;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:64px;
}
#u208 {
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:608px;
  top:223px;
  width:121px;
  height:64px;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
}
#u210 {
  position:absolute;
  left:2px;
  top:24px;
  width:117px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:0px;
  top:287px;
  width:122px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:68px;
}
#u212 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:122px;
  top:287px;
  width:156px;
  height:68px;
  font-size:12px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:68px;
}
#u214 {
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:278px;
  top:287px;
  width:153px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u216 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:431px;
  top:287px;
  width:177px;
  height:68px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u218 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:608px;
  top:287px;
  width:121px;
  height:68px;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u220 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:0px;
  top:355px;
  width:122px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:68px;
}
#u222 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:122px;
  top:355px;
  width:156px;
  height:68px;
  font-size:12px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:68px;
}
#u224 {
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:278px;
  top:355px;
  width:153px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u226 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:431px;
  top:355px;
  width:177px;
  height:68px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u228 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:608px;
  top:355px;
  width:121px;
  height:68px;
  text-align:center;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u230 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:0px;
  top:423px;
  width:122px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:68px;
}
#u232 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:122px;
  top:423px;
  width:156px;
  height:68px;
  font-size:12px;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:68px;
}
#u234 {
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:278px;
  top:423px;
  width:153px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u236 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:431px;
  top:423px;
  width:177px;
  height:68px;
  text-align:center;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u238 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:608px;
  top:423px;
  width:121px;
  height:68px;
  text-align:center;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u240 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:1250px;
  top:140px;
  width:180px;
  height:10px;
}
#u241_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u241_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u241_line {
  position:absolute;
  left:0px;
  top:4px;
  width:180px;
  height:2px;
}
#u242 {
  position:absolute;
  left:1440px;
  top:137px;
  width:110px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1280px;
  top:276px;
  width:120px;
  height:10px;
}
#u244_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u244_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u244_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:2px;
}
#u245 {
  position:absolute;
  left:1410px;
  top:273px;
  width:170px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:1208px;
  top:282px;
  width:10px;
  height:58px;
}
#u247_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u247_end {
  position:absolute;
  left:-5px;
  top:41px;
  width:20px;
  height:18px;
}
#u247_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:58px;
}
#u248 {
  position:absolute;
  left:1179px;
  top:347px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:892px;
  top:135px;
  width:120px;
  height:10px;
}
#u250_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u250_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u250_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:2px;
}
#u251 {
  position:absolute;
  left:1022px;
  top:133px;
  width:106px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:1350px;
  top:310px;
  width:200px;
  height:86px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:86px;
}
#u254 {
  position:absolute;
  left:2px;
  top:35px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:1370px;
  top:320px;
  width:180px;
  height:40px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:1350px;
  top:362px;
  width:200px;
  height:10px;
}
#u257_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u257_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u257_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u258 {
  position:absolute;
  left:1370px;
  top:376px;
  width:60px;
  height:16px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:1470px;
  top:376px;
  width:60px;
  height:16px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:1350px;
  top:426px;
  width:190px;
  height:60px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u263 {
  position:absolute;
  left:2px;
  top:22px;
  width:186px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:104px;
  top:808px;
  width:60px;
  height:32px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:128px;
  top:347px;
  width:60px;
  height:24px;
  font-size:20px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:125px;
  top:313px;
  width:116px;
  height:24px;
  font-size:20px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:540px;
  top:208px;
  width:10px;
  height:19px;
}
#u270_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u270_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u270_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u271 {
  position:absolute;
  left:502px;
  top:227px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:658px;
  top:208px;
  width:10px;
  height:19px;
}
#u273_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u273_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u273_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u274 {
  position:absolute;
  left:620px;
  top:227px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:744px;
  top:210px;
  width:10px;
  height:19px;
}
#u276_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u276_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u276_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u277 {
  position:absolute;
  left:706px;
  top:229px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:857px;
  top:210px;
  width:10px;
  height:19px;
}
#u279_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u279_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u279_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u280 {
  position:absolute;
  left:819px;
  top:229px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:1042px;
  top:210px;
  width:10px;
  height:19px;
}
#u282_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u282_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u282_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u283 {
  position:absolute;
  left:1005px;
  top:229px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:125px;
  top:381px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
