body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:23px;
  width:204px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:31px;
  top:109px;
  width:1270px;
  height:560px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:560px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1130px;
  top:32px;
  width:140px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:130px;
  width:34px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:104px;
  top:132px;
  width:49px;
  height:28px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:104px;
  top:198px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:271px;
  top:110px;
  width:10px;
  height:560px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:543px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:560px;
}
#u15 {
  position:absolute;
  left:30px;
  top:233px;
  width:247px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:230px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u16 {
  position:absolute;
  left:300px;
  top:132px;
  width:25px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  visibility:hidden;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:31px;
  top:185px;
  width:246px;
  height:55px;
  font-size:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:55px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1164px;
  top:80px;
  width:106px;
  height:27px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:31px;
  top:246px;
  width:246px;
  height:55px;
  font-size:24px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:55px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:369px;
  top:85px;
  width:19px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:307px;
  top:131px;
  width:113px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:307px;
  top:179px;
  width:183px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:307px;
  top:222px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:307px;
  top:263px;
  width:173px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:307px;
  top:303px;
  width:173px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:727px;
  top:131px;
  width:243px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:699px;
  top:175px;
  width:243px;
  height:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:307px;
  top:359px;
  width:53px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:307px;
  top:390px;
  width:53px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:297px;
  top:430px;
  width:83px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:277px;
  top:336px;
  width:1023px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:1006px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1023px;
  height:1px;
}
#u47 {
  position:absolute;
  left:727px;
  top:217px;
  width:183px;
  height:14px;
  font-size:14px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:727px;
  top:391px;
  width:140px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:727px;
  top:356px;
  width:243px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:727px;
  top:429px;
  width:150px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1110px;
  top:138px;
  width:100px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:727px;
  top:263px;
  width:173px;
  height:14px;
  font-size:14px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:727px;
  top:303px;
  width:173px;
  height:14px;
  font-size:14px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:361px;
  top:86px;
  width:60px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:337px;
  top:86px;
  width:16px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:277px;
  top:86px;
  width:60px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:364px;
  top:358px;
  width:26px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:365px;
  top:390px;
  width:30px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:390px;
  top:430px;
  width:30px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1087px;
  top:24px;
  width:28px;
  height:28px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:277px;
  top:460px;
  width:1023px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:1006px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1023px;
  height:1px;
}
#u76 {
  position:absolute;
  left:297px;
  top:475px;
  width:93px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:358px;
  top:712px;
  width:733px;
  height:315px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:122px;
  top:0px;
  width:188px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:310px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:431px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:608px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:69px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
}
#u90 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:122px;
  top:30px;
  width:188px;
  height:69px;
  font-size:12px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:69px;
}
#u92 {
  position:absolute;
  left:2px;
  top:27px;
  width:184px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:310px;
  top:30px;
  width:121px;
  height:69px;
  color:#000000;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u94 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:431px;
  top:30px;
  width:177px;
  height:69px;
  color:#000000;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:69px;
}
#u96 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:608px;
  top:30px;
  width:121px;
  height:69px;
  color:#000000;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u98 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:99px;
  width:122px;
  height:64px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:64px;
}
#u100 {
  position:absolute;
  left:2px;
  top:24px;
  width:118px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:122px;
  top:99px;
  width:188px;
  height:64px;
  font-size:12px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:64px;
}
#u102 {
  position:absolute;
  left:2px;
  top:24px;
  width:184px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:310px;
  top:99px;
  width:121px;
  height:64px;
  color:#000000;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
}
#u104 {
  position:absolute;
  left:2px;
  top:24px;
  width:117px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:431px;
  top:99px;
  width:177px;
  height:64px;
  color:#000000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:64px;
}
#u106 {
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:608px;
  top:99px;
  width:121px;
  height:64px;
  color:#000000;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
}
#u108 {
  position:absolute;
  left:2px;
  top:24px;
  width:117px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:163px;
  width:122px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:68px;
}
#u110 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:122px;
  top:163px;
  width:188px;
  height:68px;
  font-size:12px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:68px;
}
#u112 {
  position:absolute;
  left:2px;
  top:26px;
  width:184px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:310px;
  top:163px;
  width:121px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u114 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:431px;
  top:163px;
  width:177px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u116 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:608px;
  top:163px;
  width:121px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u118 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:231px;
  width:122px;
  height:79px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:79px;
}
#u120 {
  position:absolute;
  left:2px;
  top:32px;
  width:118px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:122px;
  top:231px;
  width:188px;
  height:79px;
  font-size:12px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:79px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:310px;
  top:231px;
  width:121px;
  height:79px;
  color:#000000;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:79px;
}
#u124 {
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:431px;
  top:231px;
  width:177px;
  height:79px;
  color:#000000;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:79px;
}
#u126 {
  position:absolute;
  left:2px;
  top:32px;
  width:173px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:608px;
  top:231px;
  width:121px;
  height:79px;
  color:#000000;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:79px;
}
#u128 {
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1260px;
  top:83px;
  width:180px;
  height:10px;
}
#u129_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_line {
  position:absolute;
  left:0px;
  top:4px;
  width:180px;
  height:2px;
}
#u130 {
  position:absolute;
  left:1450px;
  top:80px;
  width:110px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:128px;
  top:378px;
  width:60px;
  height:24px;
  font-size:20px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:125px;
  top:344px;
  width:116px;
  height:24px;
  font-size:20px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:307px;
  top:506px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:607px;
  top:506px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:839px;
  top:506px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:307px;
  top:547px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:607px;
  top:547px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:839px;
  top:547px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1117px;
  top:506px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1117px;
  top:547px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:277px;
  top:522px;
  width:1023px;
  height:10px;
}
#u152_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_end {
  position:absolute;
  left:1006px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1023px;
  height:1px;
}
#u153 {
  position:absolute;
  left:277px;
  top:497px;
  width:1023px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:1006px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1023px;
  height:1px;
}
#u154 {
  position:absolute;
  left:1146px;
  top:248px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#0099FF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:361px;
  top:475px;
  width:49px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:32px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  height:1px;
}
#u157 {
  position:absolute;
  left:410px;
  top:473px;
  width:140px;
  height:28px;
  font-size:11px;
  color:#FF0000;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
